@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-950 text-slate-100 selection:bg-emerald-500/30 selection:text-emerald-300;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }

  /* Sleek Global Modern Dark Scrollbar */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: #020617; /* slate-950 */
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb {
    background: #1e293b; /* slate-800 */
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.05);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #334155; /* slate-700 */
  }

  /* Terminal & Code Scrollbar */
  .custom-scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #090d16;
    border-radius: 3px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #1e293b;
    border-radius: 3px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #10b981; /* emerald-500 */
  }
}
